<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
  <title>Narrow Down Your Menu Choice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">

  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
</head>
<body>
 <div class="container">
  <h1>Narrow Down Your Chinese Menu Choice</h1>

  <div ng-controller="NarrowItDownController as narrowItDownCtrl"> 
    <div class='form-inline' style='margin:10px'>
      <div class="input-group">
        <input type="text" placeholder="search term" class="form-control" ng-model='narrowItDownCtrl.searchTerm'>
      </div>
      <div class="input-group">
       <button class="btn btn-primary" ng-click='narrowItDownCtrl.getMatchedMenuItems(narrowItDownCtrl.searchTerm)'>Narrow It Down For Me!</button>
     </div>
     <div class="input-group">
      <div ng-if='narrowItDownCtrl.inProgress' class="loader"></div>
    </div>
  </div>

  <found-items 
  items="narrowItDownCtrl.foundItems" 
  on-remove="narrowItDownCtrl.removeItem(index)" 
  message="{{narrowItDownCtrl.message}}">
</found-items>

</div>

</body>
</html>
